{% extends 'base.html' %}
{% block meta %}
<title>{{user.username}} Todolist</title>
<h1>{{user.username}} To Do List</h1>
{% endblock meta %}

{% block content %}  
    <head>
        {% load static %}
    </head>
    <!-- Button untuk membuat tugas Bary -->
    <button><a href="{% url 'todolist:create' %}">Add New Task</a></button>

    <h2>Task :</h2>
    <table>
        <tr>
        <!-- membuat header table-->
          <th>Create Date</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
        {% comment %} Add the data below this line {% endcomment %}
        <!-- Mengiterasi data tugas pada query database -->
        {% for task in todo_list %}
            <tr>
                <td>{{task.date}}</td>
                <th>{{task.title}}</th>
                <td>{{task.description}}</td>
                <td> 
            </tr>
        {% endfor %}
      </table>
    <!-- Implementasi last login -->
    <h3>last login: {{last_login}}</h3>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}